<button type="button" class="btn btn-primary" [routerLink]="['']">Back</button>
<div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;  display: flex; flex-direction: row;"> 
                <div class="col-md-4">
                    <img src="{{recipe.imageUrl}}" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="margin-top:-25px ;">
                        <h5 class="card-title">{{recipe.name}}</h5>
                        <span
                            class="icon-star"
                            [attr.id]="'star-' + recipe.id"
                            [class.active]="isFavorite()"
                            (click)="toggleFavorite()"
                        ></span>
                        <p class="card-text">{{recipe.instructions}}</p>
                        <ul>
                            <li class="card-text" *ngFor="let ing of recipe.ingredients">
                                {{ing}}
                            </li>
                        </ul>
                        <span class="badge rounded-pill {{recipe.isAlcoholic ? 'text-bg-success' : 'text-bg-secondary'}}">{{recipe.isAlcoholic ? "Alcoholic" : "Non alcoholic"}}</span>
                    </div>
                </div>
                </div>
        </div>
</div>
